input:valid {
  border-color: #2f9e44;
}

input:focus + .label-line,
input:valid + .label-line {
  color: #2f9e44;
  font-weight: 500;
  transform: translate(0px, -30px);
  z-index: 10;
  font-size: 14px;
  padding: 6px;
}

tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
